#contact {
  text-align: center;

  h2 {
    font-weight: bold;
    margin-bottom: 100px;
  }

  .content-title {
    margin-top: 150px;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 80px;
  }
  .content-info {
    width: 500px;
    margin: 0 auto;
    position: relative;
  
  }
  .content-info ul {
    width: 500px;
    height: 80px;
    margin: 0 auto;
  }
  .content-info li {
    float: left;
    font-size: 30px;
    font-weight: bold;
    padding: 30px 0px 0px 50px;
  }
  .content-info li:nth-child(1) {
    color: red;
  }
  .content-info li:nth-child(2) {
    color: yellow;
  }
  .content-info li:nth-child(3) {
    color: purple;
  }
  .content-info li:nth-child(4) {
    color: blue;
  }
  .content-info p {
    margin-top: 10px;
    font-size: 20px;
  }
  .content-info p:nth-child(1) {
    margin-top: 50px;
  }
  .info-tel,
  .info-email {
    margin-top: 20px;
    display: inline-block;
  }
  .info-email {
    padding-left: 30px;
  }
  .info-border1 {
    height: 80px;
    width: 140px;
    border-top: 5px solid pink;
    border-right: 5px solid pink;
    position: absolute;
    top: 0;
    right: 0;
  }
  .info-border2 {
    height: 30px;
    width: 500px;
    border-bottom: 5px solid pink;
    border-left: 5px solid pink;
    border-right: 5px solid pink;
    position: absolute;
    bottom: -35px;
    left: 0px;
  }

  @media screen and (max-width: 768px) {
    h2 {
      font-size: 25px;
      margin-bottom: 30px;
      margin-top: -50px;
    }
  }

  @media screen and (max-width: 576px) {
    .content-info {
      width: auto;

      .info-border1,
      .info-border2 {
        display: none;
      }

      ul {
        width: auto;
        padding-left: 0;
        height: 50px;

        li {
          width: 25%;
          font-size: 25px;
          padding: 0 0 0 0;
        }
      }

      p:nth-child(1) {
        margin-top: 10px;
      }

      .info-tel,
      .info-email {
        width: 100%;
        padding: 0;
      }
    }
  }
}