#home {
  margin-top: 50px;

  .home-img {
    text-align: center;

    img {
      height: 200px;
      width: 200px;
      border-radius: 100px;
      opacity: 1;
    }
  }

  .content-info {
    text-align: center;
    margin-top: 60px;

    .info-motto {
      font-size: 25px;
      font-weight: bold;
      font-family: "KaiTi";
      color: #000000;
    }

    .info-line {
      display: inline-block;
      width: 60%;
      height: 2px;
      background-color: #16a5d4;
      margin-bottom: 25px;
    }
  }

  @media screen and (max-width: 768px) {
    margin-top: 0;
    .home-img img {
      height: 150px;
      width: 150px;
      border-radius: 100px;
      opacity: 1;
    }
  }
}